<header class="header">
  <div class="header-left">
    <img src="assets/alten.png" alt="logo" />
    <div>
      <span class="title">Stock Manager</span>
      <span class="subtitle">Sede: Bari</span>
    </div>
  </div>

  <div class="header-center">
    <p-iconfield>
      <p-inputicon class="pi pi-search" />
      <input pInputText placeholder="Value" />
    </p-iconfield>
  </div>

  <div class="header-right">
    <i
      [class]="darkModeService.isDark() ? 'pi pi-sun theme-icon' : 'pi pi-moon theme-icon'"
      (click)="darkModeService.onToggle()"
    ></i>
    <i class="pi pi-sign-out"></i>
    <i class="pi pi-user"></i>
  </div>
</header>
