<nav class="sidebar-nav">
  <div class="nav-top">
    <a
      routerLink="/home"
      routerLinkActive="active"
      class="nav-item"
      pTooltip="Home"
      tooltipPosition="right"
    >
      <i class="pi pi-home"></i>
    </a>
    <a
      routerLink="/prodotti"
      routerLinkActive="active"
      class="nav-item"
      pTooltip="Prodotti"
      tooltipPosition="right"
    >
      <i class="pi pi-box"></i>
    </a>
    <a
      routerLink="/sedi"
      routerLinkActive="active"
      class="nav-item"
      pTooltip="Sedi"
      tooltipPosition="right"
    >
      <i class="pi pi-map-marker"></i>
    </a>
    <a
      routerLink="/ordini"
      routerLinkActive="active"
      class="nav-item"
      pTooltip="Ordini"
      tooltipPosition="right"
    >
      <i class="pi pi-shopping-cart"></i>
    </a>
    <a
      routerLink="/impostazioni"
      routerLinkActive="active"
      class="nav-item"
      pTooltip="Impostazioni"
      tooltipPosition="right"
    >
      <i class="pi pi-cog"></i>
    </a>
  </div>

  <div class="nav-bottom">
    <a
      routerLink="/supporto"
      routerLinkActive="active"
      class="nav-item"
      pTooltip="Supporto"
      tooltipPosition="right"
    >
      <i class="pi pi-question-circle"></i>
    </a>
  </div>
</nav>
